# package directories
node_modules
jspm_packages
.idea

# Serverless directories
.serverless

# Next directories
.next

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Files
env.yml
.env
.env.development
.env.production