# package directories
node_modules
jspm_packages
.idea

# Serverless directories
.serverless

# Next directories
.next

# Jest coverage output
coverage

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Files
env.yml
.env
.env.development
.env.production
.env.dev
.env.prod
.env.local
.serverless_nextjs/
.staging-disabled-pages-api/
.newsletter-export/
.newsletter-production/
.production-release/
production-deploy-evidence.json
out/
