.social-links {
  align-items: center;
  display: flex;
  line-height: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: inherit;
  li {
    align-items: center;
    display: flex;
    a {
      align-items: center;
      display: flex;
      text-decoration: none;
      margin-right: 10px;
    }
  }
}
