.side-navigation {
  background: #fff;
  border-left: 1px solid #ddd;

  border-right: 1px solid #ddd;
  margin-bottom: 0.2em;
  h2 {
    color: #fff;
  }
  .rail-promo {
    padding-top: 12px;
    background: #fff;
    display: block;

    img {
      display: block;
      height: 180px;
      object-fit: contain;
      width: 100%;
    }
  }
  .header {
    padding: 10px 15px;
    background: #0065bc !important;
  }
}

@media (max-width: 991px) {
  .side-navigation .rail-promo {
    img {
      height: auto;
      object-fit: contain;
    }
  }
}
